<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-06-06 22:18:21 +0000</string>
	<key>Creator</key>
	<string>Nathan</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{270.59700073242186, 274.11506469726567}, {22.511639505814287, 20.116784239238299}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>61</integer>
			<key>ImageID</key>
			<integer>12</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{202.31808471679688, 214.116581583825}, {14.798285714285711, 18.603559183673465}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>60</integer>
			<key>ImageID</key>
			<integer>11</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{330.3267822265625, 214.6278411420115}, {22.000006764314094, 19.411770674394788}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>58</integer>
					<key>ImageID</key>
					<integer>10</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{327.16351994790784, 210.83673282545439}, {25.163265228271484, 25.163265306122426}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>CambriaMath</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>59</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>57</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{404.27118214883558, 158.00000000000006}, {14.798285714285711, 21.431999907038751}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>55</integer>
			<key>ImageID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{300.69178208627454, 158.00000000000006}, {14.798285714285711, 21.431999907038751}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>54</integer>
			<key>ImageID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{230.37547068257209, 153.25}, {39.811279296875, 34.66326904296875}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>53</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{128.33729773073753, 158.00000683593748}, {14.798285714285711, 21.431999999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>52</integer>
			<key>ImageID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>50</integer>
			<key>Points</key>
			<array>
				<string>{209.71723060513563, 184.16327162194182}</string>
				<string>{209.71723060513563, 210.33672465371507}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>35</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>49</integer>
			<key>Points</key>
			<array>
				<string>{178.79861254705133, 179.70948372635189}</string>
				<string>{202.13034622510088, 212.75909531401558}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>27</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>59</integer>
			</dict>
			<key>ID</key>
			<integer>45</integer>
			<key>Points</key>
			<array>
				<string>{372.05301335674289, 181.35397678059695}</string>
				<string>{347.71436715758847, 213.04255810165805}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>48</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>59</integer>
			</dict>
			<key>ID</key>
			<integer>44</integer>
			<key>Points</key>
			<array>
				<string>{339.74514332938105, 184.16327162052917}</string>
				<string>{339.74514332938105, 210.33672652284173}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>38</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{371.39679631509534, 160.43235778808594}, {17.859999999999999, 22.730909090909091}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>47</integer>
					<key>ImageID</key>
					<integer>6</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{367.74515828408948, 158}, {25.163265228271484, 25.163265306122426}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>CambriaMath</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>48</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>46</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{330.32677434243908, 158.00000683593751}, {17.859999999999999, 21.431999999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>42</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{327.16352376260511, 158}, {25.163265228271484, 25.163265306122426}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CambriaMath</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>38</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{197.13559488911505, 158.98679852953143}, {25.163265228271484, 24.176470513437309}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>34</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{197.13559107441779, 158}, {25.163265228271484, 25.163265306122426}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>CambriaMath</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>35</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{158.55395655293341, 158}, {25.163265228271484, 21.70948372635187}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>27</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{156.55395655293341, 158}, {25.163265228271484, 25.163265306122426}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>CambriaMath</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>28</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{56, 212.70236968994141}, {127.71722448979591, 21.431999999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>23</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{364.32678899087659, 212.70236206054688}, {171, 21.431999999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>22</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{268.27118214883558, 271.59183486627069}, {25.163265228271484, 25.163265306122426}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CambriaMath</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>21</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>tiff</key>
						<data>
						TU0AKgAAEAj/////////////////
						////////////////////////////
						//////////////////+EhIT/hISE
						////////////////////////////
						////////////////////////////
						////////////////////hISE/4SE
						hP//////////////////////////
						////////////////////////////
						/////////////////////4SEhP+E
						hIT/////////////////////////
						////////////////////////////
						//////////////////////+EhIT/
						hISE////////////////////////
						////////////////////////////
						/////////////4SEhP+EhIT/////
						////////////////////////////
						////////////////////////////
						//////////////+EhIT/hISE////
						////////////////////////////
						////////////////////////////
						////////////////hISE/4SEhP//
						////////////////////////////
						////////////////////////////
						/////////////////4SEhP+EhIT/
						////////////////////////////
						////////////////////////////
						////////hISE/4SEhP//////////
						////////////////////////////
						////////////////////////////
						/////////4SEhP+EhIT/////////
						////////////////////////////
						////////////////////////////
						//////////+EhIT/hISE////////
						////////////////////////////
						////////////////////////////
						////////////hISE/4SEhP//////
						////////////////////////////
						////////////////////////////
						//+EhIT/hISE////////////////
						////////////////////////////
						////////////////////////////
						////hISE/4SEhP//////////////
						////////////////////////////
						////////////////////////////
						/////4SEhP+EhIT/////////////
						////////////////////////////
						////////////////////////////
						//////+EhIT/hISE////////////
						////////////////////////////
						/////////////////////////4SE
						hP+EhIT/////////////////////
						////////////////////////////
						//////////////////////////+E
						hIT/hISE////////////////////
						////////////////////////////
						////////////////////////////
						hISE/4SEhP//////////////////
						////////////////////////////
						////////////////////////////
						/4SEhP+EhIT/////////////////
						////////////////////////////
						////////////////////hISE/4SE
						hP//////////////////////////
						////////////////////////////
						/////////////////////4SEhP+E
						hIT/////////////////////////
						////////////////////////////
						//////////////////////+EhIT/
						hISE////////////////////////
						////////////////////////////
						////////////////////////hISE
						/4SEhP//////////////////////
						////////////////////////////
						//////////////+EhIT/hISE////
						////////////////////////////
						////////////////////////////
						////////////////hISE/4SEhP//
						////////////////////////////
						////////////////////////////
						/////////////////4SEhP+EhIT/
						////////////////////////////
						////////////////////////////
						//////////////////+EhIT/hISE
						////////////////////////////
						////////////////////////////
						////////////////////////////
						////////////////////////////
						////////////////////////////
						//////////+EhIT/hISE////////
						////////////////////////////
						////////////////////////////
						////////////hISE/4SEhP//////
						////////////////////////////
						////////////////////////////
						/////////////4SEhP+EhIT/////
						////////////////////////////
						////////////////////////////
						//////////////+EhIT/hISE////
						////////////////////////////
						////////////////////////////
						/////4SEhP+EhIT/////////////
						////////////////////////////
						////////////////////////////
						//////+EhIT/hISE////////////
						////////////////////////////
						////////////////////////////
						////////hISE/4SEhP//////////
						////////////////////////////
						////////////////////////////
						/////////4SEhP+EhIT/////////
						////////////////////////////
						////////////////////////////
						hISE/4SEhP//////////////////
						////////////////////////////
						////////////////////////////
						/4SEhP+EhIT/////////////////
						////////////////////////////
						////////////////////////////
						//+EhIT/hISE////////////////
						////////////////////////////
						////////////////////////////
						////hISE/4SEhP//////////////
						////////////////////////////
						//////////////////////+EhIT/
						hISE////////////////////////
						////////////////////////////
						////////////////////////hISE
						/4SEhP//////////////////////
						////////////////////////////
						/////////////////////////4SE
						hP+EhIT/////////////////////
						////////////////////////////
						//////////////////////////+E
						hIT/hISE////////////////////
						////////////////////////////
						/////////////////4SEhP+EhIT/
						////////////////////////////
						////////////////////////////
						//////////////////+EhIT/hISE
						////////////////////////////
						////////////////////////////
						////////////////////hISE/4SE
						hP//////////////////////////
						////////////////////////////
						/////////////////////4SEhP+E
						hIT/////////////////////////
						////////////////////////////
						////////////hISE/4SEhP//////
						////////////////////////////
						////////////////////////////
						/////////////4SEhP+EhIT/////
						////////////////////////////
						////////////////////////////
						//////////////+EhIT/hISE////
						////////////////////////////
						////////////////////////////
						////////////////hISE/4SEhP//
						////////////////////////////
						////////////////////////////
						//////+EhIT/hISE////////////
						////////////////////////////
						////////////////////////////
						////////hISE/4SEhP//////////
						////////////////////////////
						////////////////////////////
						/////////4SEhP+EhIT/////////
						////////////////////////////
						////////////////////////////
						//////////+EhIT/hISE////////
						////////////////////////////
						////////////////////////////
						/4SEhP+EhIT/////////////////
						////////////////////////////
						////////////////////////////
						//+EhIT/hISE////////////////
						////////////////////////////
						////////////////////////////
						////hISE/4SEhP//////////////
						////////////////////////////
						////////////////////////////
						/////4SEhP+EhIT/////////////
						////////////////////////////
						////////////////////////////
						////////////////////////////
						////////////////////////////
						/////////////////////////4SE
						hP+EhIT/////////////////////
						////////////////////////////
						//////////////////////////+E
						hIT/hISE////////////////////
						////////////////////////////
						////////////////////////////
						hISE/4SEhP//////////////////
						////////////////////////////
						////////////////////////////
						/4SEhP+EhIT/ABEBAAADAAAAAQAg
						AAABAQADAAAAAQAgAAABAgADAAAA
						BAAAEOoBAwADAAAAAQABAAABBgAD
						AAAAAQACAAABEQAEAAAAAQAAAAgB
						EgADAAAAAQABAAABFQADAAAAAQAE
						AAABFgADAAAAAQAgAAABFwAEAAAA
						AQAAEAABGgAFAAAAAQAAENoBGwAF
						AAAAAQAAEOIBHAADAAAAAQABAAAB
						KAADAAAAAQACAAABUgADAAAAAQAB
						AAABUwADAAAABAAAEPKHcwAHAAAH
						qAAAEPoAAAAAAAAAkAAAAAEAAACQ
						AAAAAQAIAAgACAAIAAEAAQABAAEA
						AAeoYXBwbAIgAABtbnRyUkdCIFhZ
						WiAH2QACABkACwAaAAthY3NwQVBQ
						TAAAAABhcHBsAAAAAAAAAAAAAAAA
						AAAAAAAA9tYAAQAAAADTLWFwcGwA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAtkZXNjAAABCAAAAG9kc2Nt
						AAABeAAABWxjcHJ0AAAG5AAAADh3
						dHB0AAAHHAAAABRyWFlaAAAHMAAA
						ABRnWFlaAAAHRAAAABRiWFlaAAAH
						WAAAABRyVFJDAAAHbAAAAA5jaGFk
						AAAHfAAAACxiVFJDAAAHbAAAAA5n
						VFJDAAAHbAAAAA5kZXNjAAAAAAAA
						ABRHZW5lcmljIFJHQiBQcm9maWxl
						AAAAAAAAAAAAAAAUR2VuZXJpYyBS
						R0IgUHJvZmlsZQAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAbWx1
						YwAAAAAAAAAeAAAADHNrU0sAAAAo
						AAABeGhySFIAAAAoAAABoGNhRVMA
						AAAkAAAByHB0QlIAAAAmAAAB7HVr
						VUEAAAAqAAACEmZyRlUAAAAoAAAC
						PHpoVFcAAAAWAAACZGl0SVQAAAAo
						AAACem5iTk8AAAAmAAAComtvS1IA
						AAAWAAACyGNzQ1oAAAAiAAAC3mhl
						SUwAAAAeAAADAGRlREUAAAAsAAAD
						Hmh1SFUAAAAoAAADSnN2U0UAAAAm
						AAAConpoQ04AAAAWAAADcmphSlAA
						AAAaAAADiHJvUk8AAAAkAAADomVs
						R1IAAAAiAAADxnB0UE8AAAAmAAAD
						6G5sTkwAAAAoAAAEDmVzRVMAAAAm
						AAAD6HRoVEgAAAAkAAAENnRyVFIA
						AAAiAAAEWmZpRkkAAAAoAAAEfHBs
						UEwAAAAsAAAEpHJ1UlUAAAAiAAAE
						0GFyRUcAAAAmAAAE8mVuVVMAAAAm
						AAAFGGRhREsAAAAuAAAFPgBWAWEA
						ZQBvAGIAZQBjAG4A/QAgAFIARwBC
						ACAAcAByAG8AZgBpAGwARwBlAG4A
						ZQByAGkBDQBrAGkAIABSAEcAQgAg
						AHAAcgBvAGYAaQBsAFAAZQByAGYA
						aQBsACAAUgBHAEIAIABnAGUAbgDo
						AHIAaQBjAFAAZQByAGYAaQBsACAA
						UgBHAEIAIABHAGUAbgDpAHIAaQBj
						AG8EFwQwBDMEMAQ7BEwEPQQ4BDkA
						IAQ/BEAEPgREBDAEOQQ7ACAAUgBH
						AEIAUAByAG8AZgBpAGwAIABnAOkA
						bgDpAHIAaQBxAHUAZQAgAFIAVgBC
						kBp1KAAgAFIARwBCACCCcl9pY8+P
						8ABQAHIAbwBmAGkAbABvACAAUgBH
						AEIAIABnAGUAbgBlAHIAaQBjAG8A
						RwBlAG4AZQByAGkAcwBrACAAUgBH
						AEIALQBwAHIAbwBmAGkAbMd8vBgA
						IABSAEcAQgAg1QS4XNMMx3wATwBi
						AGUAYwBuAP0AIABSAEcAQgAgAHAA
						cgBvAGYAaQBsBeQF6AXVBeQF2QXc
						ACAAUgBHAEIAIAXbBdwF3AXZAEEA
						bABsAGcAZQBtAGUAaQBuAGUAcwAg
						AFIARwBCAC0AUAByAG8AZgBpAGwA
						wQBsAHQAYQBsAOEAbgBvAHMAIABS
						AEcAQgAgAHAAcgBvAGYAaQBsZm6Q
						GgAgAFIARwBCACBjz4/wZYdO9k4A
						giwAIABSAEcAQgAgMNcw7TDVMKEw
						pDDrAFAAcgBvAGYAaQBsACAAUgBH
						AEIAIABnAGUAbgBlAHIAaQBjA5MD
						tQO9A7kDugPMACADwAPBA78DxgOv
						A7sAIABSAEcAQgBQAGUAcgBmAGkA
						bAAgAFIARwBCACAAZwBlAG4A6QBy
						AGkAYwBvAEEAbABnAGUAbQBlAGUA
						bgAgAFIARwBCAC0AcAByAG8AZgBp
						AGUAbA5CDhsOIw5EDh8OJQ5MACAA
						UgBHAEIAIA4XDjEOSA4nDkQOGwBH
						AGUAbgBlAGwAIABSAEcAQgAgAFAA
						cgBvAGYAaQBsAGkAWQBsAGUAaQBu
						AGUAbgAgAFIARwBCAC0AcAByAG8A
						ZgBpAGkAbABpAFUAbgBpAHcAZQBy
						AHMAYQBsAG4AeQAgAHAAcgBvAGYA
						aQBsACAAUgBHAEIEHgQxBEkEOAQ5
						ACAEPwRABD4ERAQ4BDsETAAgAFIA
						RwBCBkUGRAZBACAGKgY5BjEGSgZB
						ACAAUgBHAEIAIAYnBkQGOQYnBkUA
						RwBlAG4AZQByAGkAYwAgAFIARwBC
						ACAAUAByAG8AZgBpAGwAZQBHAGUA
						bgBlAHIAZQBsACAAUgBHAEIALQBi
						AGUAcwBrAHIAaQB2AGUAbABzAGV0
						ZXh0AAAAAENvcHlyaWdodCAyMDA3
						IEFwcGxlIEluYy4sIGFsbCByaWdo
						dHMgcmVzZXJ2ZWQuAFhZWiAAAAAA
						AADzUgABAAAAARbPWFlaIAAAAAAA
						AHRNAAA97gAAA9BYWVogAAAAAAAA
						WnUAAKxzAAAXNFhZWiAAAAAAAAAo
						GgAAFZ8AALg2Y3VydgAAAAAAAAAB
						Ac0AAHNmMzIAAAAAAAEMQgAABd7/
						//MmAAAHkgAA/ZH///ui///9owAA
						A9wAAMBs
						</data>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>21</integer>
			</dict>
			<key>ID</key>
			<integer>7</integer>
			<key>Points</key>
			<array>
				<string>{330.64014644388402, 232.81136287791165}</string>
				<string>{289.95782088113089, 274.78047011993584}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>59</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>21</integer>
			</dict>
			<key>ID</key>
			<integer>6</integer>
			<key>Points</key>
			<array>
				<string>{219.66507292499998, 231.91456930551573}</string>
				<string>{270.90496552652394, 275.6772618239097}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{197.13559107441779, 210.83673095703125}, {25.163265228271484, 25.163265306122426}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CambriaMath</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{246.85281285562269, 250.9234619140625}, {68, 66.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>15</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>13</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image12.pdf</string>
		<string>image11.pdf</string>
		<string>image10.pdf</string>
		<string>image9.pdf</string>
		<string>image8.pdf</string>
		<string>image7.pdf</string>
		<string>image6.pdf</string>
		<string>image5.pdf</string>
		<string>image4.pdf</string>
		<string>image3.pdf</string>
		<string>image2.pdf</string>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-06-06 22:55:25 +0000</string>
	<key>Modifier</key>
	<string>Nathan</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{80, 50}, {710, 828}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{12.5, 4.5}, {561, 674}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
