<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-06-08 14:47:24 +0000</string>
	<key>Creator</key>
	<string>Nathan</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{234.90275573730469, 482.12921142578125}, {65.260482788085938, 9.4767697778078581}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>116</integer>
			<key>ImageID</key>
			<integer>24</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{244.65668543294274, 474.16326904296875}, {45.752688741943984, 9.9659322012155211}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>115</integer>
			<key>ImageID</key>
			<integer>23</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{281.08833312988281, 362.1063232421875}, {65.260482788085938, 9.4767697778078581}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>114</integer>
			<key>ImageID</key>
			<integer>24</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{197.71521257703631, 362.1063175626723}, {45.752688741943984, 9.9659322012155211}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>113</integer>
			<key>ImageID</key>
			<integer>23</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{234.90276780102494, 422.08160377035324}, {65.260482788085938, 71.00006103515625}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>112</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Times-Roman</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>111</integer>
			</dict>
			<key>ID</key>
			<integer>108</integer>
			<key>Points</key>
			<array>
				<string>{308.07281881921455, 350.81380141618143}</string>
				<string>{272.16987277071274, 445.34602904881859}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>40</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Times-Roman</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>111</integer>
			</dict>
			<key>ID</key>
			<integer>107</integer>
			<key>Points</key>
			<array>
				<string>{225.66037102508639, 351.07333750700707}</string>
				<string>{247, 401}</string>
				<string>{263.06953565575901, 445.28185005282319}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>43</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{351, 394.94189453125}, {186.13652314531043, 17.221292495727539}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>102</integer>
			<key>ImageID</key>
			<integer>22</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{319.18551635742188, 395.9128916263578}, {27.163265228271484, 15.27933669090271}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>105</integer>
					<key>ImageID</key>
					<integer>21</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{319.22237076733353, 390.97092986593429}, {25.163265228271484, 25.163265306122426}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Times-Roman</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>106</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>104</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{191.96727814966312, 516.94187545776367}, {173.25128524157466, 19.163234710693359}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>97</integer>
			<key>ImageID</key>
			<integer>19</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{256.91455078125, 450.33160423745926}, {23.200097656250001, 14.50006103515625}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>110</integer>
					<key>ImageID</key>
					<integer>18</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{254.95139756176712, 445}, {25.163265228271484, 25.163265306122426}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Times-Roman</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>111</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>tiff</key>
								<data>
								TU0AKgAAEAj/
								////////////
								////////////
								////////////
								////////////
								////////////
								//+EhIT/hISE
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////hISE/4SE
								hP//////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/////4SEhP+E
								hIT/////////
								////////////
								////////////
								////////////
								////////////
								////////////
								//////+EhIT/
								hISE////////
								////////////
								////////////
								////////////
								////////////
								/////////4SE
								hP+EhIT/////
								////////////
								////////////
								////////////
								////////////
								////////////
								//////////+E
								hIT/hISE////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								hISE/4SEhP//
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/4SEhP+EhIT/
								////////////
								////////////
								////////////
								////////////
								////////////
								////hISE/4SE
								hP//////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/////4SEhP+E
								hIT/////////
								////////////
								////////////
								////////////
								////////////
								////////////
								//////+EhIT/
								hISE////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////hISE
								/4SEhP//////
								////////////
								////////////
								////////////
								////////////
								//////////+E
								hIT/hISE////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								hISE/4SEhP//
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/4SEhP+EhIT/
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								//+EhIT/hISE
								////////////
								////////////
								////////////
								////////////
								////////////
								/////4SEhP+E
								hIT/////////
								////////////
								////////////
								////////////
								////////////
								////////////
								//////+EhIT/
								hISE////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////hISE
								/4SEhP//////
								////////////
								////////////
								////////////
								////////////
								////////////
								/////////4SE
								hP+EhIT/////
								////////////
								////////////
								////////////
								////////////
								////////////
								hISE/4SEhP//
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/4SEhP+EhIT/
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								//+EhIT/hISE
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////hISE/4SE
								hP//////////
								////////////
								////////////
								////////////
								////////////
								//////+EhIT/
								hISE////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////hISE
								/4SEhP//////
								////////////
								////////////
								////////////
								////////////
								////////////
								/////////4SE
								hP+EhIT/////
								////////////
								////////////
								////////////
								////////////
								////////////
								//////////+E
								hIT/hISE////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								//+EhIT/hISE
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////hISE/4SE
								hP//////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/////4SEhP+E
								hIT/////////
								////////////
								////////////
								////////////
								////////////
								////////////
								//////+EhIT/
								hISE////////
								////////////
								////////////
								////////////
								////////////
								/////////4SE
								hP+EhIT/////
								////////////
								////////////
								////////////
								////////////
								////////////
								//////////+E
								hIT/hISE////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								hISE/4SEhP//
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/4SEhP+EhIT/
								////////////
								////////////
								////////////
								////////////
								////////////
								////hISE/4SE
								hP//////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/////4SEhP+E
								hIT/////////
								////////////
								////////////
								////////////
								////////////
								////////////
								//////+EhIT/
								hISE////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////hISE
								/4SEhP//////
								////////////
								////////////
								////////////
								////////////
								//////////+E
								hIT/hISE////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								hISE/4SEhP//
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/4SEhP+EhIT/
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								//+EhIT/hISE
								////////////
								////////////
								////////////
								////////////
								////////////
								/////4SEhP+E
								hIT/////////
								////////////
								////////////
								////////////
								////////////
								////////////
								//////+EhIT/
								hISE////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////hISE
								/4SEhP//////
								////////////
								////////////
								////////////
								////////////
								////////////
								/////////4SE
								hP+EhIT/////
								////////////
								////////////
								////////////
								////////////
								////////////
								hISE/4SEhP//
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/4SEhP+EhIT/
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								//+EhIT/hISE
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////hISE/4SE
								hP//////////
								////////////
								////////////
								////////////
								////////////
								//////+EhIT/
								hISE////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////hISE
								/4SEhP//////
								////////////
								////////////
								////////////
								////////////
								////////////
								/////////4SE
								hP+EhIT/////
								////////////
								////////////
								////////////
								////////////
								////////////
								//////////+E
								hIT/hISE////
								////////////
								////////////
								////////////
								////////////
								////////////
								/4SEhP+EhIT/
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								//+EhIT/hISE
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////hISE/4SE
								hP//////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/////4SEhP+E
								hIT/////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/////////4SE
								hP+EhIT/////
								////////////
								////////////
								////////////
								////////////
								////////////
								//////////+E
								hIT/hISE////
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								hISE/4SEhP//
								////////////
								////////////
								////////////
								////////////
								////////////
								////////////
								/4SEhP+EhIT/
								ABEBAAADAAAA
								AQAgAAABAQAD
								AAAAAQAgAAAB
								AgADAAAABAAA
								EOoBAwADAAAA
								AQABAAABBgAD
								AAAAAQACAAAB
								EQAEAAAAAQAA
								AAgBEgADAAAA
								AQABAAABFQAD
								AAAAAQAEAAAB
								FgADAAAAAQAg
								AAABFwAEAAAA
								AQAAEAABGgAF
								AAAAAQAAENoB
								GwAFAAAAAQAA
								EOIBHAADAAAA
								AQABAAABKAAD
								AAAAAQACAAAB
								UgADAAAAAQAB
								AAABUwADAAAA
								BAAAEPKHcwAH
								AAAHqAAAEPoA
								AAAAAAAAkAAA
								AAEAAACQAAAA
								AQAIAAgACAAI
								AAEAAQABAAEA
								AAeoYXBwbAIg
								AABtbnRyUkdC
								IFhZWiAH2QAC
								ABkACwAaAAth
								Y3NwQVBQTAAA
								AABhcHBsAAAA
								AAAAAAAAAAAA
								AAAAAAAA9tYA
								AQAAAADTLWFw
								cGwAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAtkZXNj
								AAABCAAAAG9k
								c2NtAAABeAAA
								BWxjcHJ0AAAG
								5AAAADh3dHB0
								AAAHHAAAABRy
								WFlaAAAHMAAA
								ABRnWFlaAAAH
								RAAAABRiWFla
								AAAHWAAAABRy
								VFJDAAAHbAAA
								AA5jaGFkAAAH
								fAAAACxiVFJD
								AAAHbAAAAA5n
								VFJDAAAHbAAA
								AA5kZXNjAAAA
								AAAAABRHZW5l
								cmljIFJHQiBQ
								cm9maWxlAAAA
								AAAAAAAAAAAU
								R2VuZXJpYyBS
								R0IgUHJvZmls
								ZQAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAAAAA
								AAAAAAAAbWx1
								YwAAAAAAAAAe
								AAAADHNrU0sA
								AAAoAAABeGhy
								SFIAAAAoAAAB
								oGNhRVMAAAAk
								AAAByHB0QlIA
								AAAmAAAB7HVr
								VUEAAAAqAAAC
								EmZyRlUAAAAo
								AAACPHpoVFcA
								AAAWAAACZGl0
								SVQAAAAoAAAC
								em5iTk8AAAAm
								AAAComtvS1IA
								AAAWAAACyGNz
								Q1oAAAAiAAAC
								3mhlSUwAAAAe
								AAADAGRlREUA
								AAAsAAADHmh1
								SFUAAAAoAAAD
								SnN2U0UAAAAm
								AAAConpoQ04A
								AAAWAAADcmph
								SlAAAAAaAAAD
								iHJvUk8AAAAk
								AAADomVsR1IA
								AAAiAAADxnB0
								UE8AAAAmAAAD
								6G5sTkwAAAAo
								AAAEDmVzRVMA
								AAAmAAAD6HRo
								VEgAAAAkAAAE
								NnRyVFIAAAAi
								AAAEWmZpRkkA
								AAAoAAAEfHBs
								UEwAAAAsAAAE
								pHJ1UlUAAAAi
								AAAE0GFyRUcA
								AAAmAAAE8mVu
								VVMAAAAmAAAF
								GGRhREsAAAAu
								AAAFPgBWAWEA
								ZQBvAGIAZQBj
								AG4A/QAgAFIA
								RwBCACAAcABy
								AG8AZgBpAGwA
								RwBlAG4AZQBy
								AGkBDQBrAGkA
								IABSAEcAQgAg
								AHAAcgBvAGYA
								aQBsAFAAZQBy
								AGYAaQBsACAA
								UgBHAEIAIABn
								AGUAbgDoAHIA
								aQBjAFAAZQBy
								AGYAaQBsACAA
								UgBHAEIAIABH
								AGUAbgDpAHIA
								aQBjAG8EFwQw
								BDMEMAQ7BEwE
								PQQ4BDkAIAQ/
								BEAEPgREBDAE
								OQQ7ACAAUgBH
								AEIAUAByAG8A
								ZgBpAGwAIABn
								AOkAbgDpAHIA
								aQBxAHUAZQAg
								AFIAVgBCkBp1
								KAAgAFIARwBC
								ACCCcl9pY8+P
								8ABQAHIAbwBm
								AGkAbABvACAA
								UgBHAEIAIABn
								AGUAbgBlAHIA
								aQBjAG8ARwBl
								AG4AZQByAGkA
								cwBrACAAUgBH
								AEIALQBwAHIA
								bwBmAGkAbMd8
								vBgAIABSAEcA
								QgAg1QS4XNMM
								x3wATwBiAGUA
								YwBuAP0AIABS
								AEcAQgAgAHAA
								cgBvAGYAaQBs
								BeQF6AXVBeQF
								2QXcACAAUgBH
								AEIAIAXbBdwF
								3AXZAEEAbABs
								AGcAZQBtAGUA
								aQBuAGUAcwAg
								AFIARwBCAC0A
								UAByAG8AZgBp
								AGwAwQBsAHQA
								YQBsAOEAbgBv
								AHMAIABSAEcA
								QgAgAHAAcgBv
								AGYAaQBsZm6Q
								GgAgAFIARwBC
								ACBjz4/wZYdO
								9k4AgiwAIABS
								AEcAQgAgMNcw
								7TDVMKEwpDDr
								AFAAcgBvAGYA
								aQBsACAAUgBH
								AEIAIABnAGUA
								bgBlAHIAaQBj
								A5MDtQO9A7kD
								ugPMACADwAPB
								A78DxgOvA7sA
								IABSAEcAQgBQ
								AGUAcgBmAGkA
								bAAgAFIARwBC
								ACAAZwBlAG4A
								6QByAGkAYwBv
								AEEAbABnAGUA
								bQBlAGUAbgAg
								AFIARwBCAC0A
								cAByAG8AZgBp
								AGUAbA5CDhsO
								Iw5EDh8OJQ5M
								ACAAUgBHAEIA
								IA4XDjEOSA4n
								DkQOGwBHAGUA
								bgBlAGwAIABS
								AEcAQgAgAFAA
								cgBvAGYAaQBs
								AGkAWQBsAGUA
								aQBuAGUAbgAg
								AFIARwBCAC0A
								cAByAG8AZgBp
								AGkAbABpAFUA
								bgBpAHcAZQBy
								AHMAYQBsAG4A
								eQAgAHAAcgBv
								AGYAaQBsACAA
								UgBHAEIEHgQx
								BEkEOAQ5ACAE
								PwRABD4ERAQ4
								BDsETAAgAFIA
								RwBCBkUGRAZB
								ACAGKgY5BjEG
								SgZBACAAUgBH
								AEIAIAYnBkQG
								OQYnBkUARwBl
								AG4AZQByAGkA
								YwAgAFIARwBC
								ACAAUAByAG8A
								ZgBpAGwAZQBH
								AGUAbgBlAHIA
								ZQBsACAAUgBH
								AEIALQBiAGUA
								cwBrAHIAaQB2
								AGUAbABzAGV0
								ZXh0AAAAAENv
								cHlyaWdodCAy
								MDA3IEFwcGxl
								IEluYy4sIGFs
								bCByaWdodHMg
								cmVzZXJ2ZWQu
								AFhZWiAAAAAA
								AADzUgABAAAA
								ARbPWFlaIAAA
								AAAAAHRNAAA9
								7gAAA9BYWVog
								AAAAAAAAWnUA
								AKxzAAAXNFhZ
								WiAAAAAAAAAo
								GgAAFZ8AALg2
								Y3VydgAAAAAA
								AAABAc0AAHNm
								MzIAAAAAAAEM
								QgAABd7///Mm
								AAAHkgAA/ZH/
								//ui///9owAA
								A9wAAMBs
								</data>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>109</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{357.19097900390625, 328.99996948242188}, {131.01395159351583, 19.163234710693359}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>93</integer>
			<key>ImageID</key>
			<integer>16</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{302.38190234436615, 211.83680534362793}, {102.8557291614766, 19.163234710693359}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>91</integer>
			<key>ImageID</key>
			<integer>14</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{302.38187984543742, 236.83680057525635}, {190.06800141626474, 19.163234710693359}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>90</integer>
			<key>ImageID</key>
			<integer>13</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{74.489893076359294, 236.83679874575864}, {191.63235473632812, 19.163234710693359}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>89</integer>
			<key>ImageID</key>
			<integer>12</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{65, 328.99996932671979}, {114.19723541882574, 19.163234710693359}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>88</integer>
			<key>ImageID</key>
			<integer>11</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Times-Roman</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>43</integer>
			</dict>
			<key>ID</key>
			<integer>85</integer>
			<key>Points</key>
			<array>
				<string>{220.32115940448926, 290.66322557005577}</string>
				<string>{220.32115940448926, 324.99993247439619}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>84</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{208.28033318493607, 269.87534161100575}, {25.163265228271484, 15.412499952316283}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>83</integer>
					<key>ImageID</key>
					<integer>8</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{207.73951401684525, 264.9999539900798}, {25.163265228271484, 25.163265306122426}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Times-Roman</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>84</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>82</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Times-Roman</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>40</integer>
			</dict>
			<key>ID</key>
			<integer>73</integer>
			<key>Points</key>
			<array>
				<string>{313.42817741251019, 290.66002102657427}</string>
				<string>{312.65459436053953, 325.50008790387352}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>65</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Times-Roman</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>39</integer>
			</dict>
			<key>ID</key>
			<integer>72</integer>
			<key>Points</key>
			<array>
				<string>{344.84603098548905, 288.76589716086295}</string>
				<string>{319.12211574163251, 331.13192725668137}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>70</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{339.05531692504883, 264.99995383437783}, {25.163265228271484, 25.163265306122426}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Times-Roman</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>70</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{340.05530166625977, 269.46974364566489}, {25.163265228271484, 16.22368416033293}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>71</integer>
					<key>ImageID</key>
					<integer>7</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>69</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{301.13693618774414, 264.99995367867587}, {25.163265228271484, 25.163265306122426}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Times-Roman</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>65</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{301.13693618774414, 270.66168765243208}, {25.163265228271484, 13.839795875549317}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>66</integer>
					<key>ImageID</key>
					<integer>6</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{302.13693618774414, 331.13192725668137}, {25.163265228271484, 14.89930177989759}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>39</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{300.13693618774414, 325.99993873129074}, {25.163265228271484, 25.163265306122426}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Times-Roman</string>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>40</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>38</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{207.73951401684525, 331.2974704820283}, {25.163265228271484, 14.568206184788755}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>42</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{207.73951401684525, 325.99993873129074}, {25.163265228271484, 25.163265306122426}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Times-Roman</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>43</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Times-Roman</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>111</integer>
			</dict>
			<key>ID</key>
			<integer>100</integer>
			<key>Points</key>
			<array>
				<string>{321.78454538277128, 411.9643888142125}</string>
				<string>{277.51767179866715, 449.12859981945866}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>106</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{187.69091477368119, 303.08154273519699}, {65.260482788085938, 71.00006103515625}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>86</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{281.08831024169922, 303.08154750356857}, {65.260482788085938, 71.00006103515625}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>103</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>25</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image24.pdf</string>
		<string>image23.pdf</string>
		<string>image22.pdf</string>
		<string>image21.pdf</string>
		<string>image19.pdf</string>
		<string>image18.pdf</string>
		<string>image16.pdf</string>
		<string>image14.pdf</string>
		<string>image13.pdf</string>
		<string>image12.pdf</string>
		<string>image11.pdf</string>
		<string>image8.pdf</string>
		<string>image7.pdf</string>
		<string>image6.pdf</string>
		<string>image4.pdf</string>
		<string>image2.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-06-08 18:33:16 +0000</string>
	<key>Modifier</key>
	<string>Nathan</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{54, 164}, {799, 833}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-37, 36}, {650, 694}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
